 body{
  margin: 0px ;
  border: 0px;
  padding: 0px;
  font-size: 14px;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  background-color: #141518;
}

#menu {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: #34373c;

}
.nav-wrapper{
  background-color: #34373c;
}
.header {
  background-color: #141518;
  height: 100px;
  color: white;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.content {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-template-rows: repeat(4,210px);
  padding: 40px;
  margin: 0 60px 0 60px;
  background-color: #2c2f34;
}
.content > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo{
  font-family: 'Open Sans';
  font-size: 40px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
}

.btn{
  height: 23px;
  width: 200px;
}

.card{
   width: 170px;
   height:210px;
}
.card:hover{
   box-shadow: 0 20px 20px 5px;

}
.imgurlogo{
padding-top: 10px;
}
